body{
    font-family: sans-serif;
    background-color: rgb(46, 46, 46);
    color: white;
}

.code{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform:translate(-50%, -50%);
    background-color: black;
}
